<a href="https://colab.research.google.com/github/kwbentleyjr/data_analytics_2/blob/main/Python/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [14]:
fruit1="apple"
fruit2="pear"
fruit3="banana"
fruit4="tomato"
fruit5="orange"
list = [fruit1, fruit2, fruit3, fruit4, fruit5]

In [15]:
print(list)

['apple', 'pear', 'banana', 'tomato', 'orange']

## 2.	Print out those variables by using a for loop

In [16]:
for x in list:
  print(x)

apple
pear
banana
tomato
orange

## 3.	Modify your for loop to add a message to your for loop.

In [17]:
for x in list:
  print("I like a good",x)

I like a good apple
I like a good pear
I like a good banana
I like a good tomato
I like a good orange

## 4.	Use a for loop to print even numbers from 1-20.

In [5]:
for x in range(1,21):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [18]:
fruit1="apple"
fruit2="pear"
fruit3="banana"
fruit4="tomato"
fruit5="orange"
list = [fruit1, fruit2, fruit3, fruit4, fruit5]
list.sort()
print(list)

['apple', 'banana', 'orange', 'pear', 'tomato']

## 6.	Print out the first three elements of your list.

In [19]:
print(list[:3])

['apple', 'banana', 'orange']

## 7.	Create a loop to print the last 2 elements of your list.

In [20]:
for fruits in list[-2:]:
  print(fruits)

pear
tomato