<a href="https://colab.research.google.com/github/kwbentleyjr/data_analytics_2/blob/main/Python/1_8_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
age = 1
if age <= 2:
  print("This person is a baby.")
elif age > 2 and age <= 5:
  print("This person is a toddler.")
elif age > 5 and age <=12:
  print("This person is in grammer school.")
elif age > 12 and age <= 19:
  print("This person is a teenager.")
elif age > 20 and age <= 45:
  print("This person is a young adult.")
elif age > 45 and age <=65:
  print("This person is middle aged.")
else:
  print("This person is a senor")

This person is a baby.

In [10]:
list=["bananas", "coffee", "milk", "onions", "hand sanitizer"]
cart=["bananas", "milk", "onions", "hand sanitizer"]
for x in list:
  if x in cart:
    print(x, "is in the cart.")
  else:
    print(x, "is not in the cart")

bananas is in the cart.
coffee is not in the cart
milk is in the cart.
onions is in the cart.
hand sanitizer is in the cart.

In [13]:
cart=["bananas", "milk", "onions", "hand sanitizer"]
if "bananas" in cart:
  print("bananas are in the cart")
if "coffee" in cart:
  print("coffee is in the cart")
if "milk" in cart:
  print("milk is in the cart")
if "onions" in cart:
  print("onions are in the cart")
if "hand sanitizer" in cart:
  print("hand sanitizer is in the cart")

bananas are in the cart
milk is in the cart
onions are in the cart
hand sanitizer is in the cart

In [16]:
person1 = {"first_name": "John", "last_name" : "Blue", "age" : "40", "city" : "Boston", "is_doctor": "no"}
for key,value in person1.items():
  print(key,value)

first_name John
last_name Blue
age 40
city Boston
is_doctor no

In [18]:
dict = {"John": "45", "Matt": "30", "James": "2", "Heather": "17"}
for key in dict.keys():
  print(key, "is", dict[key])

John is 45
Matt is 30
James is 2
Heather is 17

In [27]:
glossary = {"range": "minimum and maximum values", "frequency": "the number of occurences of a data value", "central tendency": "data accumulation toward the middle of the distribution or toward the end"}
for key,value in glossary.items():
  print(key,value, sep=" : ", end=".\n")

range : minimum and maximum values.
frequency : the number of occurences of a data value.
central tendency : data accumulation toward the middle of the distribution or toward the end.

In [33]:
usernames = ["admin", "jkerry", "fsam", "kdog", "vboxer"]
for x in usernames:
  if x == "admin":
    print("Welcome, admin! You have full access")
  else:
    print("Welcome " + x + "!  Thank you for using my app")

Welcome, admin! You have full access
Welcome jkerry!  Thank you for using my app
Welcome fsam!  Thank you for using my app
Welcome kdog!  Thank you for using my app
Welcome vboxer!  Thank you for using my app

In [35]:
list=range(1,11)
for x in list:
  if x == 1:
    print(str(x)+"st")
  elif x == 2:
    print(str(x)+"nd")
  elif x == 3:
    print(str(x)+"rd")
  else:
    print(str(x)+"th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th

In [58]:
dict1 = {"first_name":"John", "last_name": "Franks"}
print("Hello, " + dict1["first_name"] + " " + dict1["last_name"]+"!")

Hello, John Franks!

In [55]:
dict2 = {"trombones": ["tenor","bass"], "trumpets": ["piccolo", "Bb"]}
for key,value in dict2.items():
  print(key, value)

trombones ['tenor', 'bass']
trumpets ['piccolo', 'Bb']

In [83]:
dict4= {"Names": {"first_name":"John", "last_name": "Franks"}, 
        "Brass": {"trombones": "bass", "trumpets": "Bb"}, 
        "pets":{"favorite pet": "dog", "second favorite pet": "cat"}}
for key in dict4.keys():
   print("The", key,"dictionary contains", dict4[key])

The Names dictionary contains {'first_name': 'John', 'last_name': 'Franks'}
The Brass dictionary contains {'trombones': 'bass', 'trumpets': 'Bb'}
The pets dictionary contains {'favorite pet': 'dog', 'second favorite pet': 'cat'}

In [89]:
def city_state(city, state):
  print(city, "is in", state)

city_state("Austin", "Texas")
city_state("New York City", "New York")
city_state("Dover", "Deleware")

Austin is in Texas
New York City is in New York
Dover is in Deleware

In [90]:
def city_state(city="Jackson", state="Mississippi"):
  print(city, "is in", state)

city_state("Austin", "Texas")
city_state("New York City", "New York")
city_state("Dover", "Deleware")
city_state()

Austin is in Texas
New York City is in New York
Dover is in Deleware
Jackson is in Mississippi